/* 
    1) id > class > tag > *
    2) 같은 조건이면 나중에 선언된 스타일이 적용된다
    3) 같은 조건이면 1) 우선순위대로 적용된다.
*/


#banana{
  color: yellow !important;
}

.apple{
  color: green;
}

.melon{
  color: brown;
}

p {
  color: violet;
}

div {
  color: blue;
}

/* *{
  color: orange !important;
} */