#container-wrapper{
  border: 5px solid black;
  width: 550px;
}

#container{
  display: flex;
  flex-wrap: wrap;
  
  width: 550px;
  padding: 15px;
}

.box01,
.box02,
.box03,
.box04{
  margin: 4px;
}

.box01 {
  width: 300px;
  height: 200px;
  background-color: green;
}

.box02{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: yellow;
}

.box03{
  width: 300px;
  height: 308px;
  background-color: pink;
}

.box04{
  width: 200px;
  height: 100px;
  margin: 4px;
  background-color: blue;
}